#services{
    background-image: url(../../../img/banner.jpg);
    background-position: center;
    background-size: cover;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}
#services h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 5px;
}
#services h1::after{
   content: '';
   background-color: #007bff;
   display: block;
   height: 3px;
   width: 250px;
   margin: 20px auto 5px;
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 10px;
    height: 80px;
    width: 80px;
    border: 2px solid #fff;
    border-radius: 50%;
}
#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
