.nav-a {
    text-decoration: none;
    color: #FFF !important;
    margin-right: 7PX;
}
.nav-a1:after{ 
        content: '';
        background-color: #fc6402;
        display: block;
        height: 3px;
        border-radius: 50px;
        width: 50px;
        margin-bottom: -3PX;
        margin-right: 4PX;
}